*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: auto;
    background-color: #faf8ff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
}

.toolbar {
    width: 1200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 15px;
    border-width: 2px;
    border-style: dashed;
    border-color: transparent;
    gap: 10px;
}

.toolbar.highlite {
    border-color: #fff;
}

.hover-button {
    border: 2px solid #1e86fd;
    color: #333;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 3px 10px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.hover-button:hover {
    border-color: #3692fc;
}

.action-button {
    border: 2px solid #1e86fd;
    color: #fff;
    background-color: #1e86fd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 3px 10px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.action-button:hover {
    background-color: #3692fc;
    border-color: #3692fc;
}

.action-button.bold {
    font-weight: 700;
}

.workspace {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(153, 153, 153, 0.7);
    border-radius: 2px;
    transition: all 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
}

/*.workspace.highlite {
    background-color: rgba(50, 50, 50, 0.1);
    border-color: #333;
}*/

.top-snapline {
    position: absolute;
    top: -2px;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 0;
    background-color: #07bdf5;
    opacity: 0;
    transition: all 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
    border-radius: 20px;
}

.bottom-snapline {
    position: absolute;
    bottom: -2px;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 0;
    background-color: #07bdf5;
    opacity: 0;
    transition: all 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
    border-radius: 20px;
}

.left-snapline {
    position: absolute;
    top: 0;
    left: -2px;
    z-index: 2;
    width: 0;
    height: 100%;
    background-color: #07bdf5;
    opacity: 0;
    transition: all 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
    border-radius: 20px;
}

.right-snapline {
    position: absolute;
    top: 0;
    right: -2px;
    z-index: 2;
    width: 0;
    height: 100%;
    background-color: #07bdf5;
    opacity: 0;
    transition: all 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
    border-radius: 20px;
}

.top-snapline.active {
    height: 3px;
    opacity: 1;
}

.bottom-snapline.active {
    height: 3px;
    opacity: 1;
}

.left-snapline.active {
    width: 3px;
    opacity: 1;
}

.right-snapline.active {
    width: 3px;
    opacity: 1;
}

.note {
    position: absolute;
    z-index: 1;
    padding: 5px;
    min-width: 40px;
    background-color: #1f191a;
    border: 2px solid #1f191a;
    user-select: none;
    cursor: pointer;
    border-radius: 5px;
}

.note.reacts {
    border: 2px solid #eb250b;
}

.note:hover {
    border: 2px solid #ebe70b;
}

.note:active {
    border: 2px solid #ebe70b;
}

.note-content {
    color: #eee;
}